#start.center.collapse.in
  %span{ type: 'button', data: { toggle: 'collapse', target: '#payment-page,#start' } }
    %h3 Please hand the device back
#payment-page.collapse
  %h1 New Payment

  - if @payment.errors.full_messages.any?
    .container
      - @payment.errors.full_messages.each do |error|
        .alert.alert-danger= error

  .container
    = form_for @payment, url: market_order_payments_path(order_id: @order.id) do |f|
      = render partial: "payments/form", locals: {f: f}
