%h1 New Order

- if @order.errors.full_messages.any?
  .container
    - @order.errors.full_messages.each do |error|
      .alert.alert-danger= error

.container
  = form_for [@customer, @order], method: 'post' do |f|
    = render partial: "form", locals: {f: f}
