%h1 Edit Customer Address

- if @customer_address.errors.full_messages.any?
  .container
    - @customer_address.errors.full_messages.each do |error|
      .alert.alert-danger= error

.container
  = render partial: "form", locals: { customer_address: @customer_address }
