%h1 New Payment

- if @payment.errors.full_messages.any?
  .container
    - @payment.errors.full_messages.each do |error|
      .alert.alert-danger= error

.container
  = form_for [@order, @payment], method: 'post' do |f|
    = render partial: "form", locals: {f: f}
