%h1 New Payment

- if @payment.errors.full_messages.any?
  .container
    - @payment.errors.full_messages.each do |error|
      .alert.alert-danger= error

.container
  = form_for @payment, url: order_payments_path(order_id: @order.id) do |f|
    = render partial: "payments/form", locals: {f: f}
