!!! HTML
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %style
      /* Email styles need to be inline */
  
  %body
    %img{src: 'https://static1.squarespace.com/static/5a9a2784b27e39f6de2fd17e/t/5a9a29a5ec212db87dfa9e66/1520055101109/?format=1500w'}
    
    = yield
